@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    >.container-fluid {
        margin: auto;
    }
    .menu-toggler {
        position: absolute;
        left: 0;
        top: 40px;
        width: 50px;
    }
    .navbar-brand {
        margin: 0;
        img {
            max-width: 100px;
        }
    }
}
.offcanvas {
    .nav {
        .nav-link {
           color: white;
            &.active {
                color: $primary;
            }
        }
        
    }
}
#App {
    .Home {
        .content-container {
            .text-container {
                p {
                    text-align: justify;
                }
            }
        }
    }
    .Pokedex {
        .list-group {
            min-height: 100vh;
           .list-group-item {
            .info {
                justify-content: space-evenly;
            }
            @media (max-width: 992px) {
                  .image {
                    flex-flow: column;
                  }
            }
            img {
                max-width: 100%;
                 @media (min-width: 768px) {
                    max-width: 200px;
                }
            }
            .pokemon-name {
                text-transform: capitalize;
            }
           }
        }
        
    }
    .Detail {
        .list-group:not(.user) {
            min-height: 100vh;
           .list-group-item {
            .info {
                justify-content: space-evenly;
            }
            @media (max-width: 992px) {
                  .image {
                    flex-flow: column;
                  }
            }
            img {
                max-width: 100%;
                 @media (min-width: 768px) {
                    max-width: 200px;
                }
            }
            .pokemon-name {
                text-transform: capitalize;
            }
           }
        }
    }
    .Auth {
        form {
            max-width: 600px;
        }
    }
}
p.load-threshold {
    margin-top: 50px;
}