@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body {
    margin: 0;
}


.offcanvas {
    .nav {
        .nav-link {
           color: white;
            &.active {
                color: $primary;
            }
        }
    }
}
